    </div>
    <footer class="footer">
      <p>
        <span><i></i>Copyright © 2019 James Hsu(B07902001). </span>
      </p>
    </footer>

    <script>
$(document).ready(function(){ 
var str=location.href.toLowerCase(); 
$("#navigation li a").each(function() { 
if (str.indexOf(this.href.toLowerCase()) > -1) {
 $("li.active").removeClass("active"); 
$(this).parent().addClass("active"); 
}
 });
 })
 </script>
</body>

</html>