{% include "Header.html" %}
<p> 這是一個簡單的用名字查學號的功能！</p>
<p> 若干年前 NTU Mail有放這個功能，但後來據說是因為有人亂寄垃圾信而被拔掉了</p>
<p> 因NTU Mail本身就有用學號查名字的功能，我認為反查的功能也應該存在 </p>
<p> 畢竟資工系的學生隨便寫一下爬蟲也可以達到一樣的效果，各位說是吧(? </p>
<p> 因為隱私性事關重大，該功能限制（用台大信箱）登入之後才能使用，謝謝見諒</p>
{% if not_login %}
<p> You're not logged in! </p>
{% else %}
<form id="query_form">
        <select name="query_type" id="qtype1">
            <option value="cname">中文名字
            </option>
            <option value="ename">英文名字
            </option>
            <!-- <option value="dpt">科系</option> -->
            <option value="no">學號
            </option>
        </select>
        <input type="text" name="query" maxlength="50" id="id_query1">
        <input type="submit" value='送出' id="query_submit">
    </form>
    <div class="show_students"></div>
    <script>
        $(document).ready(function(){
            $('#query_form').submit(function(e){
                e.preventDefault();
                var query_data = $(this).serialize();
                $.getJSON('../api/get/students', query_data, process_students);
                function process_students(data){
                    var show_student = $('.show_students');
                    var tb = "<table>";
                    tb +='<th> 中文名字 </th><th> 學號 </th><th> 科系 </th><th> 性別 </th></tr>';
                    tb += data.student.field;
                    tb += "</table>";
                    $('.show_students').html(tb);
                }
            })
        })
    </script>
{% endif %}

{% include "Footer.html" %}
