{% include "Header.html" %}
<table class="log">
<tr>
    <th> Date </th>
    <th>Update Content</th>
    <th>Type</th>
</tr>
{% for u in log reversed %}
<tr>
    <td>{{ u.date }}</td>
    <td>{{ u.detail }} </td>
    {% if u.is_content %} <td> Content </td> {% elif u.is_debug %} <td> Debug </td> {% else %}<td> System </td> {% endif %}
</tr>
{% endfor %}
</table>
{% comment %} <br><br><br><br> {% endcomment %}
{% include "Footer.html" %}
